version: "3.9"

services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-telegram_bot}
    ports:
      - "5433:5433"
    volumes:
      - db_data:/var/lib/postgresql/data
  bot:
    build: .
    restart: always
    env_file:
      - .env
    depends_on:
      - db

volumes:
  db_data:
